body{
    background-color: #FFF5E4; 
}
header{
    display: flex;
    background-color: #FFF5E4; 
    position: fixed;
    top: 0;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 32px;
    justify-content: space-between;
    width: 100%;
    height: 131px;
    padding-bottom: 40px ;
    z-index: 100;
}
header ul{
    display: flex;
    gap: 24px;
}
header ul li {
    font-size: 24px;
    color: #3F1000; 

}
header img{
    width: 149px;
}
.main-img{
    display: flex;
    justify-content: center;
    flex-direction:column;
    gap: 36px;
    /* position: relative; */
    background-image:url(../img/image.svg);
    height: 436px;
    margin-top: 131px;
    align-items: center;
    z-index: 1;

}
.main-img h1{
    font-size: 48px;
    color: #FFF5E4;
   
} 
.main-img p{
    font-size: 32px;
    color: #FFF5E4;
}
.Section-1{
    display: flex;
    flex-direction: column;
    height: 831px;
    padding: 120px;
    padding-bottom: 58px;
    gap: 36px;

}
.spektakli{
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 547px;
    width:100%
    
}
.spektakli div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #930000;
    top: 35px;
    right: 34px;
    height: 37px;
    width: 171px;
    border-radius: 6px;
}
.spektakli h2{
    font-size: 24px;
    color: #FFF5E4;
    position: absolute;
    bottom: 24px;
    left: 36px;
    
}
.spektakli div p {
    font-weight: 700;
    font-size: 24px;
    color: #FFF5E4;
}
.spektakli h1{
    font-size: 32px;
    color: #FFF5E4;
    position: absolute;
    left: 36px;
    bottom: 72px;
    font-weight: 700;
}
.spektakli i{
    position:absolute;
    bottom: 24px;
    right: 36px;
    font-size: 40px;
}
.red-header{
    font-size: 48px;
    color: #510809;
    font-weight: 700;
}
.carusleis-seqcia{
    width: 100%;
    display: flex;
    justify-content: center;
}
.meore{
    background-image: url(../img/hamlet_1965_hamlet_and_the_players_1965_photo_by_reg_wilson_c_rsc_208390.tmb-img-1824.jpeg) !important;

}
.mesame{
    background-image: url(../img/95266-28.jpeg) !important;

}
.section-2{
    width: 100%;
    height: 780px;
    background-color: #510809;
    position: relative;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 64px;
    padding-bottom: 40px;
}
.section-2 h2{
    font-size: 48px;
    color: #FFF5E4;
    font-weight: 700;
    margin-bottom: 64px;
}
.msaxiobi{
    background-image: url(../img/tom-holland.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 548px;
    height: 548px;
    display: flex;
    padding: 24px;
    align-items: flex-end;
    
}
.msaxiobi h1 {
    font-size: 24px;
    color: #FFF5E4;
    font-weight: 700;

}
.msaxiobi p {
    font-size: 24px;
    color: #FFF5E4;

}
.info-msaxiobze {
    width: 436px;
    padding: 24px;
    height: fit-content;
    background-color: #930000;
    font-size: 24px;
    color: #FFF5E4;
    line-height: 1.5;
}
.mix{
    display: flex;
    position: absolute;
    left: 0px;
}
.ori{
    background-image: url(../img/tornike.png) !important;
}
.mix-2{
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0px;


}
.mix-12{
    position: relative;
    width: 100%;
    height: 100%;
}
.section-3 div{
    width: 100%;
    height: 442px;
    background-image: url(../img/vadym-lebedych-lt9N3sfrh-Y-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 120px;
    display: flex;
    align-items: flex-end;

}
.section-3 div p{
    font-size: 32px;
    font-weight: 700;
    color: #FFF5E4;
}
.section-3 {
    width: 100%;
    height: 622px ;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-3 h1{
    margin-left: 120px;

}
footer{
    width: 100%;
    height: 380px;
    padding: 48px 120px;
    background-color: #930000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gap{
    width: 100%;
    height: 180px;
}
.logoebi{
    display: flex;
    gap: 24px;
}
.ft-1 p{
    font-size: 20px;
    line-height: 2;
    color: #FFF5E4;
    opacity: 75%;
    width: 227px;
}
.ft-1{
    display: flex;
    flex-direction: column;
    gap:32px;
}

.ft-2{
    display: flex;
    flex-direction: column;
    gap:32px;

}
.ft-2 ul li{
    font-size: 20px;
    line-height: 2;
    color: #FFF5E4;
    opacity: 75%;

}
.ft-2 h1{
   font-size: 24px;
   color: #FFF5E4;
   font-weight: 700;

    
}
.ft-2{
    
    display: flex;
    flex-direction: colummn;
    gap: 54px;
}
.ft-3 ul{
    display: flex;
    gap: 24px;

}
.ft-3 ul li{
    font-size:32px
}
.ft-3{
    display: flex;
    flex-direction: column;
    gap: 54px;
}
.ft-3 h1{
    font-size: 24px;
   color: #FFF5E4;
   font-weight: 700;
}
.ft-rightside{
    display: flex;
    gap: 80px;
}